certifi==2018.8.24
chardet==3.0.4
docker>=2.0.0
docker-pycreds==0.3.0
idna==2.7
PyQt5==5.10.1
PyQt5-sip==4.19.12
QtAwesome==0.5.0
QtPy==1.5.1
requests==2.19.1
sip==4.19.8
six==1.11.0
urllib3==1.23
websocket-client==0.53.0
